@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", serif;
}

body {
    background: linear-gradient(to right, #220033, #000000);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.aboutMe, .works, .contactContainer { opacity: 0; transform: translateY(40px); }
.aboutMe.show, .works.show, .contactContainer.show { opacity: 1; transform: translateY(0); }

.aboutMe, .works, .contactContainer {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.aboutMe.show, .works.show, .contactContainer.show {
  opacity: 1;
  transform: translateY(0);
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    padding: 0 0.5rem;
    max-width: 1200px;
}

.navigation ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.navigation a {
    text-decoration: none;
    color: #eeeeee;
}

.navigation a:hover {
    color: #00adb5;
}

hr{
    opacity: 10%;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
}

.arrow {
    position: absolute;
    transform: translateX(-5.5rem) translateY(1.5rem);
}

.heroSub {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.name {
    font-size: 3rem;
    color: #ffffff;
}

.title {
    font-size: 5rem;
    color: #dbf2ff;
}

.heroBtns {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.hireMe {
    background-color: #5995ac;
    color: #ffffff;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}


.aboutMe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
    gap: 10rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
}

.textTitle {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 2rem;
}

.aboutName {
    color: #ffffff;
}
.aboutTitle {
    color: #00adb5;
}
.aboutMePar {
    text-align: justify;
    color: #dbf2ff;
}

.works {
    background-image: url("assets/svg/background.svg");
    padding: 10rem 10rem;
    margin: 5rem 0rem;
}

.worksContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    margin: 5rem auto;
    max-width: 1200px;
}

.projectTitle {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    font-size: 2rem;
}

.works ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}

.works li {
    border-radius: 30px;
    background-color: rgba(57, 62, 70, 0.5);
    backdrop-filter: blur(4px);
    padding: 1rem 4rem;
}

.works li img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    transition: transform 0.2s;
}

.works li :hover {
    transform: scale(1.5);
}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    margin: 2rem auto;
    max-width: 1200px;
}

.contactTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
}

.socialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.socialMedia a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: rgba(57, 62, 70, 0.5);
    backdrop-filter: blur(4px);
    padding: 1rem;
}

.socialMedia img {
    width: 24px;
    height: 24px;
}

footer {
    color: #ffffff;
    padding: 2rem;
    text-align: center;
}


@media (max-width: 1023px) {
  header {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .heroImg {
    width: 400px;
  }
  .name,
  .title {
    font-size: 2rem;
  }
  .arrow {
    display: none;
  }
  .aboutMe {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
  .textContainer {
    align-items: center;
    margin: 0rem 5rem;
    gap: 1rem;
  }
  .aboutName,
  .aboutTitle {
    font-size: 1rem;
  }
  .light {
    width: 60px;
  }
  .aboutMeImg {
    width: 400px;
  }
  .works {
    padding: 2rem;
  }
  .worksContainer {
    padding: 5rem 0rem;
    gap: 3rem;
  }
}

/* تابلت */
@media (max-width: 768px) {
  .title {
    font-size: 3rem; /* بدل 5rem */
  }
  .heroImg {
    width: 250px;
  }
  .aboutMe {
    flex-direction: column;
    gap: 2rem;
  }
}

/* موبايل */
@media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }
  .name {
    font-size: 1.5rem;
  }
  .heroImg {
    width: 200px;
  }
  .works {
    padding: 2rem 1rem;
  }
}

img {
    max-width: 100%;
    height: auto;
}
